# ——— Go build artifacts ———
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Carpetas de compilación / distribución
bin/
build/
dist/

# Archivos de cobertura
*.cov
*.coverprofile
coverage.*

# Caché y dependencias (usa ‘go mod’)
vendor/
pkg/

# Go workspaces (Go 1.18+)
go.work
go.work.sum

# ——— Herramientas e IDE ———
.idea/
.vscode/
*.code-workspace

# ——— Archivos de sistema y otros ———
.DS_Store
Thumbs.db
*.log
*.orig
*.zip
*.db
*.db-shm
*.db-wal
